body {
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  /*changes the way we calculate height and width and doesnt account for margin*/
}

img {
  max-width: 100%;
}


/*** NAV BAR ***/

.banner {}

.banner__navbar {}

.navbar {
  border-radius: .5rem .5rem 0 0;
  padding: 1rem;
  color: white;
  background: #0075ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__group {}

.navbar__group--left {}

.navbar__group--right {}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}


/*** CARDS / GRID ***/

.section {
  padding: 1rem;
}

.container {
  margin: 0 auto;
}

.grid {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /*** If the screen is too small, the item pops down to the next row ***/
}

.grid__item {
  margin: 1rem;
  flex-basis: calc(100% / 2 - 2rem);
  /*** I want to be 25% but first let me make sure everything else can fit ***/

  /*** takes original size and then gets back in line (the items always take up the room they need to) ***/
  background: white;
}

h3 {
  margin: 0;
}

.card {
  border: #9affb9 solid 5px;
  min-width: 10rem;
}

.html-css {
  padding: 0;
}

.yellow-bar {
  position: relative;
  background-color: #ffe920;
  line-height: 3rem;

}

.card__tag {
  line-height: 1rem;
  color: white;
  background: #0075ff;
  padding: .5rem;
  position: absolute;
  /*** Add margin: 0; whenever you use position: absolute; ***/
  margin: 0;
  left: 50%;
  top: 0;
  text-align: center;
  transform: translateX(-50%);
  transform: translate(-50%, -50%);
}

.cat-image {
  position: absolute;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateX(-50%)
}



.card__bottom {
  background: white;
}

.card-text {
  padding: .5rem;
}
