body {
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  /*changes the way we calculate height and width and doesnt account for margin*/
}

img {
  max-width: 100%;
}

/*** Top Nav ***/

.banner {

}

.banner__navbar {

}

.navbar {
border-radius: .5rem .5rem 0 0;
  padding: 1rem;
  color: white;
  background: #007a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__group {

}

.navbar__group--left {

}

.navbar__group--right {

}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem -1rem;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

/*** GRID ***/

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap; /*** If the screen is too small, the item pops down to the next row ***/
}

.grid__item {
  margin: 1rem;
  flex-basis: calc(100% / 4 - 2rem); /*** I want to be 25% but first let me make sure everything else can fit ***/
  float: left;

  flex-grow: 1; /*** takes original size and then gets back in line (the items always take up the room they need to) ***/

  background: #ac4fff;
}

.card {
  border: #9affb9 solid 5px;
  padding: 1rem;
  min-width: 14rem;
  position: relative;
}

.card__tag {
  background: goldenrod;
  padding: 1rem;

  position: absolute; /*** Add margin: 0; whenever you use position: absolute; ***/
  margin: 0;
  left: 50%;
  top: 0;
  text-align: center;
  transform: translateX(-50%);
}

.cat-image {
  border-radius: 50%;
}
